* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* font-family: "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
}

body {
  background-color: #e9fffd;
}

/* .flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
} */

ul,
.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#div-sort {
  margin: 10px;
  align-items: center;
}

.heading {
  text-align: center;
  padding: 10px;
  margin: 10px 0px;
  background-color: teal;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-small {
  margin-left: 10px;
  font-size: 0.75em;
}

.list {
  list-style-type: none;
}

.list-move {
  transition: transform 1s;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto auto;
  width: 200px;
  height: 250px;
  margin: 10px;
  box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.2),
    0 4px 20px 2px rgba(0, 0, 0, 0.19);
}

.theme-up {
  border: 1px solid limegreen;
  background-color: palegreen;
}

.theme-down {
  border: 1px solid red;
  background-color: lightpink;
}

.grid-cell {
  /* border: 1px solid black; */
  /* background-color: teal; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
  overflow: hidden;
}

.col-span {
  grid-column: 1 / 3;
}

.lbl {
  font-size: 0.75em;
  color: grey;
}

.text-large {
  font-size: 2em;
}

.bg-green {
  background-color: limegreen;
}

.bg-red {
  background-color: red;
}

.btn {
  border: 1px solid black;
  padding: 5px;
  margin: 0px 5px;
  cursor: pointer;
}

.btn-active {
  background-color: teal;
  color: white;
  border: 2px solid black;
}

.loading {
  grid-column-end: span 2;
  grid-row-start: 3;
  text-align: center;
}

.logo {
  animation: logo-spin infinite 2s linear;
  height: 50px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes anim {
  from {
    background-color: yellow;
  }
  to {
    background-color: transparent;
  }
}
@keyframes anim2 {
  from {
    background-color: orange;
  }
  to {
    background-color: transparent;
  }
}
