<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-91007152-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-91007152-1");
    </script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>24hr Stats of Cryptocurency</title>
    <link rel="stylesheet" href="css/ticker.css" />
  </head>

  <body>
    <heading>
      <h1 class="heading">
        Live 24 hour status of <code>Coinbase Pro</code> assets
      </h1>
    </heading>

    <section>
      <div id="app">
        <div id="div-sort" class="flex-container">
          <span>
            <b>Sort By: </b>
          </span>
          <button
            class="btn"
            v-for="(value, sortKey) in sortByOptions"
            :key="sortKey"
            @click="changeSortBy(sortKey)"
            :class="{'btn-active' : sortBy == sortKey }"
          >
            {{ value.name }}
          </button>
        </div>
        <hr />
        <!-- <ul class="flex-container"> -->
        <transition-group name="list" tag="ul">
          <li
            class="list"
            v-for="(product, index) in computeSortBy[sortBy]()"
            :key="product"
          >
            <div
              class="grid-container"
              :class="[ parseFloat(tickers[product].changePercent) > 0 ? 'theme-up' : 'theme-down' ]"
            >
              <div class="grid-cell name">
                <div class="lbl">
                  {{ index + 1}} - {{ tickers[product].name }}
                </div>
                <div>{{ product }}</div>
              </div>
              <div class="grid-cell open">
                <div class="lbl">open</div>
                <div>{{ tickers[product].open_24h }}</div>
              </div>
              <div class="grid-cell price">
                <div class="lbl">current price</div>
                <div>{{ tickers[product].price }}</div>
              </div>
              <div
                class="grid-cell change"
                :class="[ parseFloat(tickers[product].changePercent) > 0 ? 'bg-green' : 'bg-red' ]"
              >
                <div class="lbl">24 hr change</div>
                <div class="text-large">
                  {{ tickers[product].changePercent }}%
                </div>
              </div>
              <div class="grid-cell high">
                <div class="lbl">high</div>
                <div>{{ tickers[product].high_24h }}</div>
              </div>
              <div class="grid-cell vol-base">
                <div class="lbl">volume in {{ base(product) }}</div>
                <div>{{ getDisplayNum(tickers[product].volume_24h) }}</div>
              </div>
              <div class="grid-cell low">
                <div class="lbl">low</div>
                <div>{{ tickers[product].low_24h }}</div>
              </div>
              <div class="grid-cell vol-usd">
                <div class="lbl">volume in USD</div>
                <div>{{ getDisplayNum(tickers[product].vol_quote_24h) }}</div>
              </div>
            </div>
          </li>
        </transition-group>
        <!-- </ul> -->
      </div>
    </section>

    <div id="scroll-to-top" onclick="scrollToTop()">
      <span>&#9757;</span><span>Top</span>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <script src="js/ticker.js"></script>
  </body>
</html>
